<% include partials/header.ejs %>

<div class="container">
<h1>Error Page</h1>
<p>Hi. We're sure you're here because you missed your way.</p>

<a class="btn btn-warning" href="/">Click here to go back to the home page</a>
<br>
<small>Sorry... LOL</small>
</div>