<% include partials/header.ejs %>

    <div class="container">  
    <div class="jumbotron">
        <h1>Welcome to Cedar Oaks</h1>
        
    </div>
  </div>


<% include partials/footer.ejs %>
        