<% include partials/header.ejs %>
<title>Cedar - New User</title> 
</head>
<body>
<h1>Add New User</h1>

<form action="/" method="POST">
    <div class="form-group"><label for="name">Your name</label>
<input class="form-control" type="text" name="User[name]" id="name" required>
</div>
<div class="form-group">
<label for="email">Email Add</label>
<input class="form-control" type="email" name="User[email]" id="email" required>
</div>
<div class="form-group">
<label for="phone">Phone Num</label>
<input class="form-control" type="tel" name="User[phone]" id="phone" required>
</div>
<div class="form-group">
    <label for="category">Category</label>
<select name="User[category]" class="form-control" id="category">
    <option value="User">User</option>
    <option value="Admin">Admin</option>
</select>
</div>
<div class="form-group">
<input class="form-control btn btn-success" type="submit">
</div>
</form>

<% include partials/footer.ejs %>
