<% include ../partials/header.ejs %>

<div class="container" id="body" data="<%=User.username%>" all="<%=users%>">
    <div class="jumbotron"><h1>Loan Request</h1>
      
    <p id="hint">Hint: Input the details as required, do not add commas or other symbols where numbers are required.</p></div>
    
        <form action="/User/profile/<%= User._id%>/loan-request/new" method="POST">
        <div class="form-group">
        <label for="loanamt">How much do you need? (Naira)</label>
         <input type="text" class="form-control" placeholder="How much do you need?" name="loanRequest[amount]" id="loanamt" required>
         <label for="duration">For how long? (Months)</label> 
         <input type="number" class="form-control" placeholder="How long do you need it?" min="1" name="loanRequest[duration]" id="duration" required>
        </div>
     
      <div class="form-group">
        <label for="interest">At an interest rate of (%)</label>
        <input type="number" name="loanRequest[rate]" class="form-control" min="1" id="interest" required>
      </div>
      <div class="form-group">
        <label for="guarantor1">First Guarantor</label>
        <input type="text" class="form-control" placeholder="Guarantor 1 (username)" name="loanRequest[guarantor1]" id="guarantor1" required>
        <label for="guarantor2">Second Guarantor</label> 
        <input type="text" class="form-control" placeholder="Guarantor 2 (username)" name="loanRequest[guarantor2]" id="guarantor2" required>
      
      </div>
      <div class="form-group">
         <button type="button" class="btn btn-success" id="submit">Check how much you will pay</button>
        </div>  
        <input type="text" class="form-control" id="paybackValue" value="" name="loanRequest[paybackAmount]" readonly>
        <input class="form-control" type="submit" value="Confirm" onclick="return validate();">         
    </form>
    </div>

    <script>
var loan = document.querySelector("#loanamt");
var period = document.querySelector("#duration");
var percent = document.querySelector("#interest");
var monPay = document.querySelector("#monthpay");
var totalPay = document.querySelector("#totalPay");
var submitbtn = document.querySelector("#submit");
var client = document.querySelector("#client");
var result = document.querySelector("h3");
var paybackValue = document.getElementById("paybackValue");

		function loanCalc(loan,percent,period){
	var loan;
	var rate = percent/100;
	var monPay = loan/period;
	var inst = monPay + (loan*rate);
	for(var i=2; i<=period; i++){
		inst += monPay + ((loan-((i-1)*monPay))*rate);
	};
    paybackValue.value =  Number(inst);
};

submitbtn.addEventListener("click", function(){
 loanCalc(loan.value,percent.value,period.value);
 result.style.display = "block";
});

var body = document.getElementById("body");
var username = body.getAttribute("data");
var arr = body.getAttribute("all").split(",");
var guarantor1 = document.querySelector("#guarantor1");
var guarantor2 = document.querySelector("#guarantor2")
function validate(){
  if(arr.indexOf(guarantor1.value) == -1){
    alert("Error! Guarantor 1 does not exist");
    return false;
  } else if(arr.indexOf(guarantor2.value) == -1){
    alert("Error! Guarantor 2 does not exist");
    return false;
  } 
  else if(guarantor1.value == guarantor2.value){
    alert("Sorry, you cannot use the same guarantor twice");
    return false;
  } else if(guarantor1.value == username || guarantor2.value == username){
    alert("Error! you cannot use yourself as a guarantor for your own loan!");
    return false;
  } 
    return true;

}

    </script>
<% include ../partials/footer.ejs %>