<% include ../partials/header.ejs %>

<section>
    
            <!-- <p>Total Contributions <span class="badge badge-info"><span class="naira">N</span> <%= User.balance %></span></p> -->
            
        
        <% if(User.payments.length>0){ %>
            <table class="table table-dark table-striped table-bordered table-hover">
            <thead class="thead-dark">
                    <tr>
                        <th scope="col">Amount You Contributed</th>
                        <th scope="col">Date Contributed</th>
                        </tr>
                </thead>
                <tbody>
            <% User.payments.forEach(function(payment){ %>
                
                <tr>
                    <td><span class="naira">N</span> <%= payment.amount %></td>
                    <td><%= payment.date %></td>
                </tr> <% }) %>
            </tbody>
        </table>
            
       <% } else{ %>
            <div class="alert alert-danger" role="alert">
            <p>No contribution made yet! Please Click "Pay" to Contribute</p>  
            
            </div> 
        <% } %>
</section id="paySection">
<a class="btn btn-primary" href="/user/profile/<%=User._id%>/contributions/new">New Payment</a>

<% include ../partials/footer.ejs %>
